html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  background-image: url(./assets/img/homepage_img.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  /* background-color: #eacdcf; */
}

.header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  height: 50px;
  background-color: #f0d9da;
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  /* border: solid red; */
}

.logo {
  /* padding-left: 100px; */
  transform: scale(0.5);
  grid-column: 1/2;
  grid-row: 1;
}

nav {
  display: flex;
  visibility: hidden;
  justify-content: start;
  align-items: center;
  grid-column: 2/2;
  grid-row: 1;
}
@media screen and (min-width: 450px) {
  nav {
     visibility: visible;
  }
}

ul {
  display: flex;
  gap: 50px;
  list-style: none;
}

ul a {
text-decoration: none;
color: black;
}

/* .side-bar { */
  /* float: left; */
  /* position: absolute; */
  /* bottom: 10; */
  /* left: 40%; */
  /* margin-top: 200px; */
  /* border: solid green; */
/* } */

.hero-text {
  margin: 100px auto;
  width: 100%;
  max-width: 340px;
  background-color: rgb(255, 255, 255, .8);
  padding: 10px;
}

.heading {
  font-size: 2em;
  margin: 0;
}

@media screen and (min-width: 650px) {
.hero-text {
  max-width: 500px;
}
.heading {
  font-size: 3em;
}
}

.subheading {
  font-size: 1em;
  opacity: .7;
}

@media screen and (min-width: 650px) {
.hero-text {
  max-width: 500px;
}
.heading {
  font-size: 3em;
}
.subheading {
  font-size: 1.3em;
}
}

.page-title {
text-align: center;
text-decoration: underline;
text-transform: lowercase;
}

.page-heading {
text-align: center;
}

.learning-intro {
padding: 0 15px;
max-width: 1000px;
margin: 30px auto;
padding: 15px;
background-color: rgb(255, 255, 255, .8);
}

.chapter-section {
font-size: 1em;
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 100%;
max-width: 1020px;
margin: 0 auto;

}

.chapter {
width: 300px;
margin: 10px;
padding: 10px;
background-color: rgb(255, 255, 255);
transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.chapter:hover {
transform: scale(1.1);
}

/* Transition to showing the bigger shadow on hover */
.chapter:hover::after {
opacity: 1;
}

.blog-section {
margin: 0 auto;
max-width: 1020px;
padding: 10px;
background-color: rgb(255, 255, 255, .8);
}

.list {
margin: 10px 0;
}

.conclusion {
margin-bottom: 100px;
}

.button {
  --sizeOfCorner: .15em; /* size of the corner */

  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  padding: 5px 10px;
  color: #BD5532;
  background:
    conic-gradient(from 90deg at 3px 3px,#0000 90deg,#BD5532 0)
    var(--sizeOfCorner) var(--sizeOfCorner)/calc(100% - 3px - 2*var(--sizeOfCorner)) calc(100% - 3px - 2*var(--sizeOfCorner));
  transition: .3s linear, color 0s, background-color 0s;
  outline: 3px solid #0000;
  outline-offset: .2em;
}

.button:hover,
.button:focus-visible{
  --sizeOfCorner: 0px;
  outline-color: #BD5532;
  outline-offset: .05em;
}

.button:active {
  background: #BD5532;
  color: #fff;
}


.social-media ul {
  display:flex;
  justify-content: center;
  padding: 0;
  margin: 16px auto;
  gap: 30px;
}

 .social-media ul li a {
  display:block;
  position:relative;
  width: 50px;
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  text-align:center;
  text-decoration:none;
  color:#404040;
  transition:.5s;
}
.social-media ul li a span {
  position:absolute;
  transition: transform .5s;
}
.social-media ul li a span:nth-child(1),
.social-media ul li a span:nth-child(3){
  width:100%;
  height:3px;
  background:#404040;
}
.social-media ul li a span:nth-child(1) {
  top:0;
  left:0;
  transform-origin: right;
}
.social-media ul li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition:transform .5s;
}

.social-media ul li a span:nth-child(3) {
  bottom:0;
  left:0;
  transform-origin: left;
}
.social-media ul li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition:transform .5s;
}

.social-media ul li a span:nth-child(2),
.social-media ul li a span:nth-child(4){
  width:3px;
  height:100%;
  background:#404040;
}
.social-media ul li a span:nth-child(2) {
  top:0;
  left:0;
  transform:scale(0);
  transform-origin: bottom;
}
.social-media ul li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition:transform .5s;
}
.social-media ul li a span:nth-child(4) {
  top:0;
  right:0;
  transform:scale(0);
  transform-origin: top;
}
.social-media ul li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition:transform .5s;
}

.facebook:hover {
  color: #3b5998;
}
.twitter:hover {
  color: #1da1f2;
}
.instagram:hover {
  color: #c32aa3;
}
.google:hover {
  color: #dd4b39;
}

.social-media i {
  padding-top: 5px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0d9da;
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  visibility: visible;
  z-index: 5;
}

svg {
  z-index: -1;
  cursor: none;
}

@media screen and (min-width: 450px) {
  .menu {
    visibility: hidden;
  }
}

.opened {
  z-index: 5;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 2;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line {
  stroke: white;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}


/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}
